<% @users.each do |user| %>
	<div id="user-small-id-<%= user.id %>" class="user-frame-small">
		<%= link_to_function image_tag( user.photo(:small), :border => 0), "$$('div.user-border').each(Element.hide); $$('div.user-frame-small').each(Element.show); $('user-id-" + user.id.to_s + "').show(); $('user-small-id-" + user.id.to_s + "').hide();" %>
		<div class="user-name"><%= link_to user.name, user_path(:id => user.id, :view => "user_posts") %></div>
	</div>

	<div id="user-id-<%= user.id %>" class="user-border" style="display: none;">
	<div class="user-menu-border">
		<ul id="user-menu">
			<li id="user-photo"><%= link_to "", user_path(:id => user.id, :view => "photo"), :remote => true %></li>
			<li id="user-info"><%= link_to "", user_path(:id => user.id, :view => "info"), :remote => true %></li>
			<li id="user-location"><%= link_to "", user_path(:id => user.id, :view => "map"), :remote => true %></a></li>
			<li id="user-feed"><%= link_to "", user_path(:id => user.id, :view => "user_posts") %></a></li>
		</ul>
	</div>

	<div id="content-id-<%= user.id.to_s %>" class="user-frame">
		<%= link_to image_tag(user.photo.url(:small)), user.photo.url(:original),
		 	:rel => "lightbox", :title => user.name %>
	</div>
	</div>
<% end %>