<div id="content-border">
	<% if flash[:notice] %>
		<div class="flash-notice">
			<%= t :observe %>:<br />
			<%= flash[:notice] %>
		</div>
	<% end %>
	<% if @message %>
		<div class="message">
			<%= t :message %>:<br />
			<%= @message %>
		</div>
	<% end %>
	<div class="login-onethird-italic">
		“Create a post! Be happy! Love your frinds and hug your mom”
	</div>
	<div class="post-frame">
		<div class="create-user-content">
			<% form_for @user, :html => { :multipart => true } do |f| %>
			<% if @user.authentications.any? %>
			<div>
				<%= f.label t :password %><br />
				<%= f.password_field :password, :disabled => 'disabled' %>
			</div>
			<div>
				<%= f.label t :password_confirmation %><br />
				<%= f.password_field :password_confirmation, :disabled => 'disabled' %>
			</div>
			<% else %>
			<div>
				<%= f.label t :password %><br />
				<%= f.password_field :password %>
			</div>
			<div>
				<%= f.label t :password_confirmation %><br />
				<%= f.password_field :password_confirmation %>
			</div>
			<% end %>

			<div>
				<%= f.label t :mail %><br />
				<%= f.text_field :email %>
			</div>
			<div>
				<%= f.label t :intro %><br />
				<%= f.text_area :intro %>
			</div>
			<div>
				<%= f.label t :location %><br />
				<%= f.text_field :position %>
			</div>
			<div>
				Use prev picture:<br />
				<%= check_box_tag "crop" %>
			</div>
			<div>
				<%= f.file_field :photo %>
			</div>
			<div>
				<%= f.submit %>
			</div>
			<% end %>
		</div>
	</div>
	<div class="login-onethird-italic">
		“where you can stalk your friends, enemies, lovers, ex-lovers or just anyone else you like.”
	</div>
</div>
