
<% if flash[:notice] or error_messages_for @user %>
<div class="flash-notice">
	<%= t :observe %>:<br />
	<%= flash[:notice] %>
	<%= error_messages_for @user %>
</div>
<% end %>

<div id="static-border">	
	<div id="static-head">
		<h1>Register</h1>
	</div>
	<div id="static-mid">
		<div class="column-onethird">
			<%= form_for @user do |f| %>
			<div>
				<%= f.label t :name %><br />
				<%= f.text_field :name %>
			</div>
			<div>
				<%= f.label t :mail %><br />
				<%= f.text_field :email %>
		  </div>
		  <div>
		    <%= f.label t :password %><br />
		    <%= f.password_field :password %>
		  </div>
			<div>
		    <%= f.label t :password_confirmation %><br />
		    <%= f.password_field :password_confirmation %>
		  </div>
		  <div>
		    <%= f.submit t(:register) %>
		  </div>
		<% end %>
		</div>
		<div class="column-onethird-italic">
			“We like you, don't be a dick.”
		</div>
		<div class="column-onethird-headline">
			Not a user yet? 
		</div>
		<div class="column-onethird">
			instead and enjoy the full power of our awesome service where you can stalk your friends, enemies, lovers, ex-lovers or anyone you like.</p><p>Feel your fingers tremble as you write your first post, as you stalk your first pray and make your first comment on that hot girl's photo you saw in school that one time and hasn't had the courage to talk to since.</p><p>You can do all that here, with us.</p><p>Enjoy.</p>
		</div>
	</div>	
	<div id="static-tail">
	</div>	
</div>
