<div id="content-border">

	<div class="user-show-border">
		<div class="user-information">
			<div class="user-information-head"><%= @user.name %></div>
			<div class="post-content">
				<% if @user.intro != nil %>
					<%= @user.intro %>
				<% else %>
					Nothing yet. I would have written something if i was not so lazy.
				<% end %>
			</div>
			<div class="user-bottom">
				<% if current_user != nil %>
					<% if @user.id == current_user.id %>
						<div class="user-bottom-link">
						  <%= link_to "edit", edit_user_path(@user) %>
						</div>
					<% else%>
				<div class="user-bottom-link">
				  <div id="stalk_form">	
				    <%= render 'stalk_form' %>
				  </div>
			  </div>
			  <% end %>			
			<% end %>
			</div>
		</div>
		
		<div class="user-frame">
			<img src="../images/user/f.jpg" />
		</div>
		
		<% if @user.position != nil %>
			<div class="user-frame">
				<%= raw @map.div(:width => 300, :height => 400) %>
				<%= raw @map.to_html(:no_load => true) %>
			</div>
		<% else %>
			<div class="user-no-location"></div>
		<% end %>
	</div>
	
	<div class="content-divider">
		<%= render 'shared/usersubmenu' %>
		<div class="pagination-page">Page:</div>
		<%= will_paginate @posts, :prev_label => '<', :next_label => '>' %>
	</div>
	<% if flash[:notice] %>
		<div class="flash-notice">
			<%= t :observe %>:<br />
			<%= flash[:notice] %>
		</div>
	<% end %>
	<% if @message %>
		<div class="message">
			<%= t :message %>:<br />
			<%= @message %>
		</div>
	<% end %>
	<% if @users != nil %>
		<%= render 'users/users' %>
	<% else %>
		<%= render 'posts/posts' %>
	<% end %>
	
</div>