<div id="footer">
	<div id="languages">
		<ul>
			<div class="footer-title">Languages:</div>
			<li><%= link_to "Svenska", about_path %></li>
			<li><%= link_to "English", about_path %></li>
			<li><%= link_to "日本語", about_path %></li>
			<li><%= link_to "한국어", about_path %></li>
		</ul>
	</div>
	<div id="copyright">
		<div class="footer-title">Copyright:</div> Justice League <i>of</i> Sweden
	</div>
	<div id="links">
		<ul>
			<div class="footer-title">Links:</div>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Help", help_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</div>
</div>
