<% if params[:search] %>
	<div class="sub-menu-head">Search:</div>
	<div class="pagination">
		<%= link_to "Posts", posts_path(:search => params[:search]) %>
		<%= link_to "Users", users_path(:search => params[:search]) %>
	</div>
<% elsif current_user != nil %>
 	<div class="sub-menu-head">Posts:</div>
	<div class="pagination">
		<%= link_to "Stalking", posts_path(:view => "stalking") %>
		<%= link_to "My posts", posts_path(:view => "my") %>
		<%= link_to "All", posts_path %>
	</div>
	<div class="sub-menu-head">Users:</div>
	<div class="pagination">
		<%= link_to "Stalking", users_path(:view => "stalking") %>
		<%= link_to "Stalkers", users_path(:view => "stalkers") %>
		<%= link_to "All", users_path %>
	</div>
<% else %>
	<div class="sub-menu-head">Feeds:</div>
	<div class="pagination">
		<%= link_to "Posts", posts_path %>
		<%= link_to "Users", users_path %>
	</div>	
<% end %>
