<div id="content-border">
	<div id="results"><%= render 'welcome/welcome_content' %></div>
	
	<div id="static-border">
		<div id="static-head">
			<h1><%= t :welcome %></h1>
		</div>
		<div id="static-mid">
			<div class="column-onethird">
				<%= t :welcome_content %>
			</div>
			<div class="column-onethird-italic">
				<%= t :welcome_quote %>
			</div>
			<div class="column-onethird-headline">
				<%= t :welcome_login %>
			</div>
                        <% unless current_user %>
			  <div class="column-onethird">
			  	  <%= render 'user_sessions/login' %>
			  </div>
                        <% end %>
		</div>	
		<div id="static-tail">
		</div>	
	</div>
</div>