<div id="content-border">
	<div id="results"><%= render 'welcome/welcome_content' %></div>
	
	<div id="static-border">
		<div id="static-head">
			<h1><%= t :welcome %></h1>
		</div>
		<div id="static-mid">
			<div class="column-onethird">
				<%= t :welcome_content %>
			</div>
			<div class="column-onethird-italic">
				<%= t :welcome_quote %>
			</div>
			<div class="column-onethird-headline">
				<%= t :welcome_login %>
			</div>
			<div class="column-onethird">
				<p>
					Justice League <i>of</i> Sweden
				</p>
				<p>
					Rydsvägen 236A<br />
					58432 Linköping<br />
					Sweden
				</p>
				<p>
					<%= t :phone %> +4672 732 1870<br />
					<%= t :mail %> <a href="mailto:bla@bla.se">seba@nikki.se</a>
				</p>
			</div>
		</div>	
		<div id="static-tail">
		</div>	
	</div>
</div>