<% case params[:view] %>
	<% when "photo" %>
		<img src="../images/h.jpg">
	<% when "post" %>
		<div class="post-date"><%= @post.title %></div>
		<div class="post-time"><%= time_ago_in_words(post.created_at) %></div>
		<div class="post-head"><%= @post.title %></div>
		<div class="post-content"><%= @post.content %></div>
	<% when "comments" %>
		<div class="comment-post">
			<%= form_for @comment, :remote => true do |f| %>
				<%= f.text_field(:content) %>
				<%= f.submit %>
			<% end %>
		</div>
		<div id="scrollbar_container"> 
			<div id="scrollbar_track"><div id="scrollbar_handle"></div></div>  
			<div id="scrollbar_content">
				<ul class="comment-list">
					<%= render @post.comments %>
				</ul>
			</div>
		</div>
	<% when "map" %>
		<%= raw @map.div(:width => 300, :height => 400) %>
		<%= raw @map.to_html(:no_load => true) %>	
	
<% end %>
