
<div id="content-border">
<% if flash[:notice] or error_messages_for @user_session %>
	<div class="flash-notice">
		<%= t :observe %>:<br />
		<%= flash[:notice] %><br />
		<%= error_messages_for @user_session %>
	</div>
<% end %>

<div class="user-information">
	<div class="user-information-head">Not a user yet?</div>
	<div class="user-content">
		<p>don't feel down, sign up <%= link_to "here", signup_path %> instead and enjoy the full power of our awesome service where you can stalk your friends, enemies, lovers, ex-lovers or anyone you like.</p><p>Feel your fingers tremble as you write your first post, as you stalk your first pray and make your first comment on that hot girl's photo you saw in school that one time and hasn't had the courage to talk to since.</p><p>You can do all that here, with us.</p><p>Enjoy.</p>
	</div>
</div>
<div class="post-frame">
	<div class="post-head">Sign in</div>
	<div class="post-content">
		<% form_for @user_session do |f| %>
			<div>
				<%= f.label :email %><br />
				<%= f.text_field :email %>
			</div>
		  	<div>
		  		<%= f.label :password %><br />
				<%= f.password_field :password %>
		  	</div>
			<div>
				<%= f.submit "Sign in" %>
			</div>	
			<p>Or sign in with Facebook <%= link_to "here.", "/auth/facebook" %></p>
		<% end %>
	</div>
</div>
<div class="login-onethird-italic">
	“where you can stalk your friends, enemies, lovers, ex-lovers or just anyone else you like.”
</div>
</div>